name: lemonade_example
description: "Demonstrates how to use the Lemonade Design System."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  go_router: ^17.0.0
  lemonade_design_system:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^6.0.0
