name: Flutter Compilation and Lint Check

on:
  push:
    branches: [ "master" ]
    paths:
      - 'flutter/**'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'flutter/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
        working-directory: ./flutter

      - name: Verify formatting
        run: dart format --set-exit-if-changed .
        working-directory: ./flutter

      - name: Analyze code
        run: flutter analyze
        working-directory: ./flutter

      - name: Run tests
        run: flutter test
        working-directory: ./flutter
